<div style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
"><div style="
    display: flex;
    flex-direction: column;
    align-items: center;
"><h1 class="mt-3"> Welcome to my Films Catalog</h1>
<p>Films List</p>
<div>
  <img src="/assets/header.jpg" alt="опис зображення">
</div></div></div>